$black-color: #000;
$yellow-color: #fed639;
$yellow-bg-color: rgba(255, 214, 57, 0.5);
$yellow-hover-color: #dbb92f;
$orange-color: #ee741d;
$white-color: #fff;
$bg-white-color: #fcfbfb;
$brown-color: #572922;
$green-color: #3aac55;
$grey-color: #9e9e9e;
$input-bg-color: rgba(255, 255, 255, 0.8);
