@import "./colors";

body {
	font-family: "Nunito", sans-serif;
	font-size: 18px;
	color: $black-color;
	background-color: $bg-white-color;
	&._lock {
		overflow: hidden;
	}
}

[class*="__container"] {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
