.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 115%;
	color: $brown-color;
	text-align: center;

	&:not(:last-child) {
		margin-bottom: 50px;
	}

	@media (max-width: 767px) {
		font-size: 36px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media (max-width: 480px) {
		font-size: 32px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}
